@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  /* fonts */
  --font-Figtree: "Figtree", sans-serif;

  /* Colors */

  /* Primary */

  --color-primary-05: #011109;
  --color-primary-10: #8cd8bc;
  --color-primary-15: #8cd8bc1a;
  --color-primary-20: #8cd8bc33;
  --color-primary-25: #26a37566;
  --color-primary-30: #f6fcfa;
  --color-primary-35: #09C117;
  --color-primary-40: #26A375;
  --color-primary-45: #8CD8BC66;
  --color-primary-50: #26A3750A;
  --color-primary-55: #26A37533;
  --color-primary-60: #4E4E4E05;
  /* neutral */

  --color-secondary-05: #5139ea;
  --color-secondary-10: #5139ea99;
  --color-secondary-15: #5139ea1a;
  --color-secondary-20: #5139EA80;

  --color-neutral-05: #1b1b1b;
  --color-neutral-10: #ffffff1f;
  --color-neutral-15: #ffffff14;
  --color-neutral-20: #ffffff0d;
  --color-neutral-25: #dadada;
  --color-neutral-30: #ffffff1a;
  --color-neutral-35: #ffffff4d;
  --color-neutral-40: #ffffffb2;
  --color-neutral-45: #b6b6b6;
  --color-neutral-50: #5e5e5e;
  --color-neutral-55: #0e100f;
  --color-neutral-60: #46464680;
  --color-neutral-65: #E8E8E8;
  --color-neutral-70: #161616;
  --color-neutral-75: #FFFFFF33;
  --color-neutral-80: #FFFFFF0F;
  --color-neutral-85: #FFFFFF66;
  --color-neutral-90: #0000000D;

  /* breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-3xl: 1920px;

  /* Shadows */
  --shadow-10: 0 20px 44px 0 rgba(0, 0, 0, 0.16);
  --shadow-20: 0 6.996px 7.221px -4.821px rgba(81, 57, 234, 0.25),
    0 -2px 10px 0 rgba(255, 255, 255, 0.16) inset,
    0 2px 0 0 rgba(255, 255, 255, 0.16) inset,
    0 1px 2px 0 rgba(81, 57, 234, 0.28);
  --shadow-30: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  /* text shadow */
  --text-shadow-10: 0 4px 5px rgba(132, 132, 132, 0.25);

  /* Gradients */
  --bg-gradient-10: linear-gradient(0deg, #000 0%, rgba(96, 0, 0, 0.02) 100%);
  --bg-gradient-20: linear-gradient(
    176deg,
    #011109 27.3%,
    rgba(1, 17, 9, 0) 96.82%
  );
  --bg-gradient-30: linear-gradient(176deg, #F6FCFA 27.3%, rgba(246, 252, 250, 0.00) 96.82%);
--bg-gradient-40: linear-gradient(
  45deg,
  rgba(246, 252, 250, 0.4) 10%,
  rgba(246, 252, 250, 1) 80%,
  rgba(246, 252, 250, 0.4) 100%
);


}

.text-shadow-10 {
  text-shadow: var(--text-shadow-10);
}
.bg-gradient-10 {
  background: var(--bg-gradient-10);
}
.bg-gradient-20 {
  background: var(--bg-gradient-20);
}
.bg-gradient-30 {
  background: var(--bg-gradient-30);
}
.bg-gradient-40 {
  background: var(--bg-gradient-40);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* swiper css */
.scroll-container {
  display: flex;
  gap: 24px;
  white-space: nowrap;
  animation: scroll 18s linear infinite;
}

.scroll-container:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.scroll-track {
  display: flex;
  gap: 24px;
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
}

.scroll-track:hover {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* testimonial swiper */
@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.marqueeSliderUp {
  animation: scrollUp 45s linear infinite;
}

.marqueeSliderDown {
  animation: scrollDown 45s linear infinite;
}
.marqueeSliderRight {
  animation: scrollRight 15s linear infinite;
}

.marqueeSliderLeft {
  animation: scrollLeft 15s linear infinite;
}

.slider-container:hover .marqueeSliderUp,
.slider-container:hover .marqueeSliderDown,
.slider-container:hover .marqueeSliderRight,
.slider-container:hover .marqueeSliderLeft {
  animation-play-state: paused;
}
